[Unit]
Description=itbrainpower.net modem supervisor script
After=syslog.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/local/bin/dhmsupervisord.py

# Give a reasonable amount of time for the server to start up/shut down
TimeoutSec=3000

[Install]
WantedBy=multi-user.target

