[Platform]
type = bbb             ; Can be rpi or bbb

[Modem]
serial = /dev/serial0  ; Modem serial port
baud = 115200          ; Modem speed
gpio_power  = 44       ; Modem GPIO power pin
gpio_reset  = 18       ; Modem GPIO reset pin
gpio_status = 45       ; Modem GPIO status pin

[Connection]
isp = telekom          ; Peer file to be used by pppd
auto_connect = true    ; Connect automaticaly at boot
